<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  </head>

  <body>
    <h1>Avery Spiel</h1>
    <div id="main" class="container">
      {{ content }}
    </div>


    <div id="footer">
      <i class="material-icons">copyright</i> Avery Spiel
      Icons from <a href="https://material.io/icons/">Material Icons</a> by Material Design
    </div>
  </body>
</html>